
.SideBarItems .Icon-User
{
    color:#1e2142;
    transform: scale(1);
    transition: 250ms;
    margin: auto;
}

.SideBarItems .Icon{
    color:#b0e7d4;
    transform: scale(1);
    transition: 250ms;
    margin: auto;
}
.SideBarItems .Icon:hover{
    border-radius: 15px;
    transform: scale(1.5);
    transition: 250ms;
}


.SideBarItems .Icon-User:hover{
    border-radius: 15px;
    transform: scale(1.5);
    transition: 250ms;
}