@tailwind base;
@tailwind components;
@tailwind utilities;

:root{  
  --background-color: #0C0D20;
  --primary-color:#9C9FE7;
  --secondary-color: #CCFBDB;
  --comp-1-color: #1F2142;
  --text-color: #9C9FE7;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:var(--background-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Custom scrollbar styles */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  display: none;
}

::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
  border-radius: 10px;
  border: 3px solid var(--comp-1-color);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--secondary-color);
}

.bg-color
{
  background-color: var(--background-color);
}

.bg-primary
{
  background-color: var(--primary-color);
}

.bg-secondary
{
  background-color: var(--secondary-color);
}

.bg-comp-1
{
  background-color: var(--comp-1-color);
}

.text-background
{
  color:var(--background-color);
}
.text-comp-1
{
  color:var(--comp-1-color);
}
.text-secondary
{
  color: var(--secondary-color);
}
.text-primary
{
  color: var(--primary-color);
}
.text-color
{
  color: var(--text-color);
}