.Emoji
{
    transform:scale(1);
    transition:150ms;
    border-radius:25px;
}

.Emoji:hover
{
    transform:scale(1.025);
    transition:150ms;
    background-color: var(--primary-color);
    color: var(--comp-1-color);
}