.SideBarList{
    background-color: #0c0d21;
    min-width: 100px;
    height:100vh;
}

.SideBarList .row{
    margin:25px auto;
    list-style-type: none;
}

.SideBarInfo
{
    max-height: 100%;
    scrollbar-color:#736ea4 transparent;
    scrollbar-width:thin;
}
.SideBarItems .Icon-User
{
    color:#1e2142;
    transform: scale(1);
    transition: 250ms;
    margin: auto;
}

.SideBarItems .Icon{
    color:#b0e7d4;
    transform: scale(1);
    transition: 250ms;
    margin: auto;
}

.SideBarItems
{
    padding:0px;
    display: grid;
    place-items: center;
}

.SideBarItems .Icon:hover{
    border-radius: 15px;
    transform: scale(1.5);
    transition: 250ms;
}


.SideBarItems .Icon-User:hover{
    border-radius: 15px;
    transform: scale(1.5);
    transition: 250ms;
}